@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h1>Error Page</h1>

        @*
            Detalhes através da classe HandleErrorInfo
            @Model.ActionName
            @Model.ControllerName
            @Model.Exception
        *@
    </div>
</body>
</html>
